.child_div{
    display: flex;
    flex-direction: column;
    width: 480px;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.top_div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
}

.login_p{
    margin-top: 80px;
}
