.ingredient_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 608px;
}

.ingredient_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ingredient_info {
  display: flex;
  align-items: center;
  gap: 10px;
}