.child_div {
  display: flex;
  flex-direction: column;
  width: 480px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  grid-column: 2 / 3;
}

.input_field {
  margin-bottom: 24px;
}

.input_field:last-child {
  margin-bottom: 0;
}
