.child_div {
  display: flex;
  flex-direction: column;
  width: 480px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  grid-column: 2 / 3;
}

.child_div_wide {
  width: 100%;
  max-width: 860px;
  grid-column: 2 / span 2;
}

.top_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.login_p {
  margin-top: 80px;
}

.links_div {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  gap: 20px;
}

.links_bottom_p {
  margin-top: 88px;
}

.link_active {
  color: #ffffff !important;
  font-weight: 600;
  text-decoration: none;
}

.link_inactive {
  color: #8585ad;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link_inactive:hover {
  color: #ffffff;
}

.text_type_main-medium {
  color: inherit !important;
}
