.item {
  width: 64px;
  height: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border-radius: 50%;
  z-index: -1;
}

.img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  background: #131316;
  border: 2px solid transparent;
}

.withCaption .img {
  opacity: 0.6;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  z-index: 2;
}
