a:link,
a:visited {
  color: var(--link-color, #8585ad); 
  text-decoration: none;
  transition: color 0.3s ease;
}

.link_inactive {
  color: #8585ad;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link_inactive:hover {
  color: #ffffff;
}
